ch09/mcb.bak
ch09/mcb.dat
ch09/mcb.dir
ch09/mydata.bak
ch09/mydata.dat
ch09/mydata.dir
ch10/example.zip
ch10/spam.txt
ch10/example/spam.txt
ch10/example/cats/catnames.txt
ch10/example/cats/zophie.jpg
ch10/spams/spam001.txt
ch10/spams/spam003.txt
ch10/spams/spam004.txt
ch10/spams/spam009.txt
ch10/spams/spam010.txt
ch10/spams/spam011.txt
ch10/spams/spam015.txt
ch10/spams/spam016.txt
ch10/spams/spam017.txt
ch10/spams/spam018.txt
ch10/spams/spam019.txt
ch10/spams/spam020.txt
ch10/spams/spam022.txt
ch10/spams - Copy/spam001.txt
ch10/spams - Copy/spam002.txt
ch10/spams - Copy/spam003.txt
ch10/spams - Copy/spam004.txt
ch10/spams - Copy/spam005.txt
ch10/spams - Copy/spam006.txt
ch10/spams - Copy/spam007.txt
ch10/spams - Copy/spam008.txt
ch10/spams - Copy/spam009.txt
ch10/spams - Copy/spam010.txt
ch10/spams - Copy/spam011.txt
ch10/spams - Copy/spam012.txt
ch10/spams - Copy/spam013.txt
ch10/spams - Copy/spam014.txt
ch10/spams - Copy/spam015.txt
ch10/spams - Copy/spam016.txt
ch10/spams - Copy/spam017.txt
ch10/spams - Copy/spam018.txt
ch10/spams - Copy/spam019.txt
ch10/spams - Copy/spam020.txt
ch10/spams - Copy/spam021.txt
ch10/spams - Copy/spam022.txt
ch10/spams - Copy/spam023.txt
ch10/spams - Copy/spam024.txt
ch10/spams - Copy/spam025.txt
ch10/spams - Copy/spam026.txt
ch10/spams - Copy/spam027.txt
ch10/spams - Copy/spam028.txt
ch10/spams - Copy/spam029.txt
ch10/spams - Copy/spam030.txt
ch12/xkcd
